/* COLOR SCHEME
RED #EB0029
YELLOW #FFF720
DARK GRAY #4F5151
LIGHT GRAY #E9EAEA
*/


/* RESET STYLES */

* {
    padding: 0;
    margin: 0;
}

/* GLOBAL STYLES */

html {
    font-size: 16px;
    overflow-y: scroll;
    background-color: white;
}

body {
    color:#4F5151;
    font-family: "helvetica";
    margin: 0 auto;
    padding: 10 auto;
    max-width: 1200px;
 }

/* NAVIGATION BAR STYLES */

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
 }

#logo {
    margin: 0;
 }

#colmar {
    font-size: 32px;
    color: #EB0029;
    font-family: Mukta;
    font-weight: 500;
    text-transform: uppercase;
}
#academy {
    font-size: 32px;
    color: #808484;
    font-family: Mukta;
    font-weight: 200;
    text-transform: uppercase;
}

#nav-container {
    margin-right: 0px;
}
.navigation li {
    display: inline;
    padding: 0 8px;
    text-transform: uppercase;
}

.navigation a {
    color: black;
    text-decoration: none;
    transition: underline 1s;
    transition-timing-function: ease-in;
 }

.navigation a:hover {
    color: #4F5151;
    border-bottom: 3px solid #FFF720;    
}

/* BANNER STYLES */

#banner-container {
    background-color: #E9EAEA;
    display: flex;
    align-items: center;
 }

#banner-container img {
    height: auto;
    width: 60%;
}
#banner-column2 {
     margin: 32px 24px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 0 30px;
      
}

#banner-column2 h2 {
    font-size: 2.5rem;
    line-height: normal;
    margin: 24px 0;
    color: #D72120;
    width: 90%;
 
}

#banner-column2 h3 {
    font-size: 1.3rem;
    line-height: normal;
    font-weight: normal;
    width: 80%;
    padding-left: 1.2rem;
    border-left: 2px solid #D72120;

}

#button {
    height: auto;
    background-color: #D72120;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    max-width: 80%;
    padding: 1rem 0;
    margin: 28px 0 0 0;
    letter-spacing: 0.1rem;
}

#button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
 }
 
 
 
/* CAMPUS SECTION STYLES */

#campus-container {
    display: flex;
    margin: 2rem 0rem;
}

#campus2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    padding-right: 30px;
    border-right: 2px solid #EB0029;
 
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 .title:hover {
     background-color: #E9EAEA;
 }

.title h3 {
    color: #D72120;
}

.title img{
    height: 12.5rem;
    width: 12.5rem;
    padding-right: 2rem;
}
.title p {
    width: 90%;
}



#campus1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    width: 60%;
    margin: 16px;
 }

#campus1 h2 {
    color: #D72120;
    font-size: 2.1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#campus1 p {
    width: 80%;
    padding-bottom: 1rem;
}

#campus1 img {
    width: 85%;
    margin: 0 0;
    box-shadow: 10px 10px #FFF720;
  }

/* LEARNING SECTION STYLES */

#learning-container {    
    padding: 2rem;
    border: 3px solid #FFF720;
    margin: 2rem 0rem;

}
#learning-container h2 {
    color: #D72120;
    font-size: 2.1rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

#learning-container h4 {
    color: #4F5151;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    text-align: center;
    padding-bottom: 1rem;
 }

#inner-learning-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.subject-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
    padding-bottom: 1rem;
    margin: 0 5px;

}

.subject-container img {
     width: 100%;
     padding-bottom: 10px;
  }

.subject-container h3 {
    color: #D72120;
 }

 .subject-container p {
     width: 80%;
     text-align: center;
     font-size: 0.9rem;
     padding-top: 0.5rem;
 }
.subject-container:hover {
    background-color: #E9EAEA;
}

/* THESIS SECTION STYLES */

#thesis-container {
    background-color: #E9EAEA;
    padding: 24px;
}

#thesis-container h2 {
    color: #D72120;
    font-size: 2rem;
    text-align: center;
}

#inner-thesis-container {
    display: flex;
    padding: 24px;
    align-items: stretch;
}

#video-column {
    width: 60%;
    border-right: 2px solid #D72120;
    margin-right: 2rem;
    padding-right: 2rem;
}

#video-column video {
    width: 100%;
    
}

#video-column h3 {
    color: #D72120;
    padding: .5rem 0rem;
    width: 20%;
}

#video-column p {
    width: 80%;
    padding: 0.5rem 0rem;
 }

 #urban-text {
    display: flex;
   }

#other-column-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.theses {
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.theses img {
    box-shadow: 10px 10px #FFF720;
    height: 12.5rem;
    width: 12.5rem;

}

.text {
    width: 40%;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.text h3 {
    color: #D72120;
    padding-bottom: .5rem;
}

/* FOOTER STYLES */ 

footer {
    display: flex;
    height: 3rem;
    border-top: 1px solid gray;
    padding: 16px 24px; 
    justify-content: space-between;
 }

/*#footer_nav li {
    display: inline;
    float: right;
    font-weight: normal;
    margin: 0 8px;
 }*/

footer h4 {
    font-weight: normal;
} 

#footer_nav li {
    display: inline;
    padding: 0 8px;
    text-transform: uppercase;
}

#footer_nav a {
    color: black;
    text-decoration: none;
    transition: underline 1s;
    transition-timing-function: ease-in;
 }

 #footer_nav a:hover {
    color: #4F5151;
    border-bottom: 3px solid #D72120;    
}