/* RESET STYLES */

* {
    padding: 0;
    margin: 0;
}

/* GLOBAL STYLES */

html {
    font-size: 16px;
    overflow-y: scroll;
    background-color: white;
}

body {
    color:#4F5151;
    font-family: "helvetica";
    margin: 0 auto;
    padding: 10 auto;
}

/* NAVIGATION BAR STYLES */

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    height: 64px;
}
.logo {
    height: 50px;
}

#colmar {
    font-size: 32px;
    color: #4F5151;
    font-family: Mukta;
    font-weight: 500;
    text-transform: uppercase;
}
#academy {
    font-size: 32px;
    color: #808484;
    font-family: Mukta;
    font-weight: 200;
    text-transform: uppercase;
}

#nav-container {
    margin-right: 24px;
}
.navigation li {
    display: inline;
    padding: 0 8px;
}

.navigation a {
    color: black;
    text-decoration: none;
}

/* BANNER STYLES */

#banner-container {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    padding-right: 80px;

}
img {
    height: auto;
    width: 60%;
    margin: 32px 24px;
}
#banner-column2 {
     margin: 32px 24px;
     display: flex;
     flex-direction: column;
     align-items: center;
    
}

#banner-column2 h2 {
    font-size: 2.7rem;
    line-height: normal;
    margin: 24px 0;
 
}

#banner-column2 h3 {
    font-size: 1.5rem;
    line-height: normal;
    font-weight: normal;
}

#banner-column2 button {
    height: auto;
    background-color: #4F5151;
    color: white;
    font-size: 1.25rem;
    font-weight: normal;
    width: 100%;
    padding: 8px 0 8px 0;
    margin: 24px 0 0 0;
    letter-spacing: 0.1rem;
}

 

/* ABOUT SECTION STYLES */

/* LEARNING SECTION STYLES */

/* THESIS SECTION STYLES */

/* FOOTER STYLES */ 

footer {
    display: flex;
    height: 3rem;
    border-top: 1px solid gray;
    padding: 16px 24px; 
    justify-content: space-between;
 }

#footer_nav li {
    display: inline;
    float: right;
    font-weight: normal;
    margin: 0 8px;
 }

footer h4 {
    font-weight: normal;
} 